<p>To mark a student’s paper, you will need to download the student's book report and open it up in Microsoft Word. To identify a mistake on the paper, use the highlighting tool. After highlighting, comment on the mistake by inserting a footnote after the highlight. </p>

<p><em>Example of a marked Grade 4 book report:</em></p>
<div align="center"><%= image_tag 'markingguide_image.gif' %></div><br />
<p>Things to consider when marking a book report:</p>

<ul class="arrowlist">
	<li><p>In the footnotes, when suggesting a different word or phrasing, be sure to italicize the replacement text 
     (see Footnotes 7, 8, and 9)</p></li>
	<li><p>Keep the footnotes brief and to the point.</p></li>
	<li><p>Use Times New Roman font size 12 for the footnotes.</p></li>
	<li><p>Use yellow as the highlight color.</p></li>
</ul>

<table>
	<tr> 
		<td width="35"><%= image_tag 'bookreportgraded_icon_small.gif' %></td>
    <td><p><%= link_to 'For additional examples of marking a book report, download this fully marked Sample Book Report.', grader_resource_center_path(:action => :sample_report_pdf , :id => 'OliviaK_Matilda_graded') %></p></td>
	</tr>
</table><br />