<div class="FullColSection">
	<div id="FullColLeft">
		<h1>Performance Breakdown (Grade 3/4)</h1>
	</div>
	<div id="FullColRight">
		<p><%= link_to 'Return to Resource Center',grader_resource_center_path %></p>
	</div>
</div>
<div class="FullColSection">
<table cellpadding="0" cellspacing="0" class="PerformanceTable">
    <tr>
      <td class="Col1Header"><h4>A. Structure</h4></td>
      <td class="Col2Header"><p>Possible Points</p></td>
    </tr>
    <tr class="OddRow">
      <td class="Col1"><p>1. Includes an appropriate title</p></td>
      <td class="Col2"><p>1</p></td>
    </tr>
	<tr class="EvenRow">
      <td class="Col1"><p>2. Essay is divided into five paragraphs: an introduction, a plot summary, two supporting paragraphs, and a conclusion</p></td>
      <td class="Col2"><p>5</p></td>
    </tr>
    <tr class="SubtotalRow">
      <td class="Col1SubTotal"><p><strong>Subtotal</strong></p></td>
      <td class="Col2SubTotal"><h5>6</h5></td>
    </tr>
    <tr class="BreakRow"/>
	<tr>
      <td class="Col1Header"><h4>B. Content</h4></td>
      <td class="Col2Header"><p>Possible Points</p></td>
    </tr>
    <tr class="OddRow">
      <td class="Col1"><p>1. Introduction provides a brief overview of the story</p></td>
      <td class="Col2"><p>2</p></td>
    </tr>
	<tr class="EvenRow">
      <td class="Col1"><p>2. Student’s thesis is clear and original and expresses his or her opinion about the book</p></td>
      <td class="Col2"><p>4</p></td>
    </tr>
	<tr class="OddRow">
      <td class="Col1"><p>3. Plot summary captures the important story elements without going into too much detail</p></td>
      <td class="Col2"><p>4</p></td>
    </tr>
	<tr class="EvenRow">
      <td class="Col1"><p>4. Supporting paragraphs have clear topic sentences that provide a focus for the paragraph</p></td>
      <td class="Col2"><p>4</p></td>
    </tr>
	<tr class="OddRow">
      <td class="Col1"><p>5. Supporting paragraphs discuss specific examples from the story (2-3 for each paragraph)</p></td>
      <td class="Col2"><p>8</p></td>
    </tr>
	<tr class="EvenRow">
      <td class="Col1"><p>6. Conclusion restates the thesis and summarizes the supporting paragraphs</p></td>
      <td class="Col2"><p>3</p></td>
    </tr>
	<tr class="OddRow">
      <td class="Col1"><p>7. Conclusion recommends the book to a specific group of readers</p></td>
      <td class="Col2"><p>1</p></td>
    </tr>
    <tr class="SubtotalRow">
      <td class="Col1SubTotal"><p><strong>Subtotal</strong></p></td>
      <td class="Col2SubTotal"><h5>25</h5></td>
    </tr>
    <tr class="BreakRow"/>
	<tr>
      <td class="Col1Header"><h4>C. Style and Mechanics</h4></td>
      <td class="Col2Header"><p>Possible Points</p></td>
    </tr>
    <tr class="OddRow">
      <td class="Col1"><p>1. Student writes in complete sentences (avoids run-ons and fragments)</p></td>
      <td class="Col2"><p>6</p></td>
    </tr>
	<tr class="EvenRow">
      <td class="Col1"><p>2. Student’s use of punctuation is correct and appropriate </p></td>
      <td class="Col2"><p>6</p></td>
    </tr>
	<tr class="OddRow">
      <td class="Col1"><p>3. Student’s word choice is thoughtful and accurate</p></td>
      <td class="Col2"><p>3</p></td>
    </tr>
	<tr class="EvenRow">
      <td class="Col1"><p>4. Student correctly capitalizes words</p></td>
      <td class="Col2"><p>2</p></td>
    </tr>
	<tr class="OddRow">
      <td class="Col1"><p>5. Student maintains a consistent tense (the present tense) throughout the work</p></td>
      <td class="Col2"><p>2</p></td>
    </tr>
    <tr class="SubtotalRow">
      <td class="Col1SubTotal"><p><strong>Subtotal</strong></p></td>
      <td class="Col2SubTotal"><h5>19</h5></td>
    </tr>
    <tr class="BreakRow"/>
  <tr class="TotalRow">
    <td class="Col1Total"><p><strong>Total Possible Points</strong></p></td>
    <td class="Col2Grade"><h5>50</h5></td>
  </tr>

</table>
</div>
<div><%= image_tag 'returntotop_button.gif', { :class=>"top_link linkcolor"} %></div>