
<p>To write an interesting book review, here are a few <u>guidelines</u> to keep in mind:</p>

<h4>1st Paragraph: Introduction</h4>
<ul>
  <li><p>Your first paragraph should state your thesis and briefly introduce your book.  Your thesis statement should clearly express your opinion about the book.  Try to make your thesis specific.</p></li>
	<ul>
  	<li><p>Bad thesis statement: <em>I liked the book.</em></p></li>
		<li><p>Good thesis statement: <em>The author has a great sense of humor that makes this book a wonderful, fast read.</em></p></li>
 </ul>
</ul>

<h4>2nd Paragraph: Plot Summary</h4>
<ul>
  <li><p>Provide the reader with a summary of the book.  Who is the main character?  What conflict is the character facing?</p></li>
  <li><p>This paragraph should only be about 5 sentences long!  Even if the book seems complicated, try to describe the main idea behind the story in 4-5 sentences.</p></li>
</ul>

<h4>3rd Paragraph: Supporting Idea</h4>
<ul>
  <li><p>How will you prove your thesis?  This paragraph should develop one idea that supports your thesis.  Be sure to discuss specific events from the book.</p></li>
	<ul>
  	<li><p>Example: <em>I enjoyed this book because the author puts his characters in funny situations.  Tom Sawyer tricks the boys in his neighborhood into doing his chores.  Tom pretends that his chores are really fun to do, and the other boys believe him.  He never has to do any work because the other boys happily do it for him.</em></p></li>
	</ul>
</ul>

<h4>4th Paragraph: Supporting Idea #2</h4>
<ul>
  <li><p>This paragraph should develop a second idea that supports your thesis.  Again, make sure to discuss specific events from the book.  Remember, your topic sentence for this paragraph should use a transition word.</p></li>
  <ul>
		<li><p>Example: <em>The funny conversations between the characters are another reason why I liked this book.  The characters are always making jokes and teasing each other.</em></p></li>
	</ul>
</ul>

<h4>5th Paragraph: Conclusion</h4>
<ul>
  <li><p>In your conclusion, you want to restate your thesis and briefly summarize your two supporting ideas.  You do not need to talk about specific events from the story again.</p></li>
  <li><p>You also want to recommend the book to a particular group of readers. Make sure to explain why you made your recommendation.</p></li>
	<ul>
		<li><p>Example: <em>I think girls who annoying younger brothers would really like this story.</em></p></li>
	</ul>
</ul>
<!--
<p><%= image_tag 'aplusreport_icon_small.gif', :class => 'numberbullet' %>Click here to read a sample high-scoring book report.  This will give you a better idea about how to follow these guidelines.</p>
-->