<p>To write a strong 5-paragraph essay, here are a few <u>guidelines</u> to keep in mind:</p>

<h4>Remember:</h4>
  <ul>
    <li><p>Always use the present tense when discussing an author’s work.</p></li>
    <li><p>Write in the third-person point of view.  Avoid using pronouns like “I” and “You.”</p></li>
  </ul>

  <h4>1st Paragraph: Introduction</h4>
  <ul>
    <li><p>Introduce your book with a brief summary of the story.</p></li>
    <li><p>Most people present their thesis at the end of the introductory paragraph.  Your thesis should clearly state your response to the assignment topic.  A good thesis statement will tell the reader what to expect from your essay.</p></li>
  </ul>

  <h4>2nd Paragraph: Supporting Idea #1</h4>
  <ul>
    <li><p>In this paragraph, you will develop an idea that supports your thesis.</p></li>
    <li><p>Your topic sentence should clearly introduce your idea.</p></li>
	<li><p>Be sure to discuss three specific examples from the book that support your idea.</p></li>
  </ul>

  <h4>3rd Paragraph: Supporting Idea #2</h4>
  <ul>
    <li><p>Use a transition word or phrase in your topic sentence.</p></li>
    <li><p>Refer to the guidelines for Supporting Idea #1.</p></li>
  </ul>

  <h4>4th Paragraph: Supporting Idea #3</h4>
  <ul>
    <li><p>Use a transition word or phrase in your topic sentence.</p></li>
    <li><p>Refer to the guidelines for Supporting Idea #1.</p></li>
  </ul>

  <h4>5th Paragraph: Conclusion</h4>
  <ul>
    <li><p>Restate your thesis at the beginning of your paragraph.</p></li>
    <li><p>Reinforce your thesis by briefly summarizing the ideas discussed in your supporting paragraphs.</p></li>
	<li><p>End your essay by connecting your thesis to the larger story.  Explain why your thesis is important to the reader’s overall understanding of the novel.</p></li>
  </ul>
<!--
<p><%= image_tag 'aplusreport_icon_small.gif', :class => 'numberbullet' %>Click here to read a sample high-scoring book report.  This will give you a better idea about how to follow these guidelines.</p>
-->