<table cellpadding="0" cellspacing="0" class="PerformanceTable">
    <tr>
      <td class="Col1Header"><h4>A. Structure</h4></td>
      <td class="Col2Header"><p>Possible Points</p></td>
    </tr>
    <tr class="OddRow">
      <td class="Col1"><p>1. Includes an appropriate title</p></td>
      <td class="Col2"><p>1</p></td>
    </tr>
	<tr class="EvenRow">
      <td class="Col1"><p>2. Essay is divided into five paragraphs: an introduction, three supporting paragraphs, and a conclusion</p></td>
      <td class="Col2"><p>5</p></td>
    </tr>
    <tr class="SubtotalRow">
      <td class="Col1SubTotal"><p><strong>Subtotal</strong></p></td>
      <td class="Col2SubTotal"><h5>6</h5></td>
    </tr>
    <tr class="BreakRow"/>
	<tr>
      <td class="Col1Header"><h4>B. Content</h4></td>
      <td class="Col2Header"><p>Possible Points</p></td>
    </tr>
    <tr class="OddRow">
      <td class="Col1"><p>1. Introduction provides a brief overview of the story</p></td>
      <td class="Col2"><p>2</p></td>
    </tr>
	<tr class="EvenRow">
      <td class="Col1"><p>2. Introduction includes a thesis that is clear and original</p></td>
      <td class="Col2"><p>4</p></td>
    </tr>
	<tr class="OddRow">
      <td class="Col1"><p>3. Supporting paragraphs have clear topic sentences that provide a focus for the paragraph</p></td>
      <td class="Col2"><p>3</p></td>
    </tr>
	<tr class="EvenRow">
      <td class="Col1"><p>4. Supporting paragraphs give specific examples from the story (3 for each paragraph) that support the thesis</p></td>
      <td class="Col2"><p>9</p></td>
    </tr>
	<tr class="OddRow">
      <td class="Col1"><p>5. Supporting paragraphs offer discussion and analysis of the three specific examples</p></td>
      <td class="Col2"><p>9</p></td>
    </tr>
	<tr class="EvenRow">
      <td class="Col1"><p>6. Conclusion restates the thesis </p></td>
      <td class="Col2"><p>2</p></td>
    </tr>
	<tr class="OddRow">
      <td class="Col1"><p>7. Conclusion summarizes the topics of the supporting paragraphs</p></td>
      <td class="Col2"><p>2</p></td>
    </tr>
	<tr class="EvenRow">
      <td class="Col1"><p>8. Conclusion explains why the thesis is important to the larger story</p></td>
      <td class="Col2"><p>2</p></td>
    </tr>
    <tr class="SubtotalRow">
      <td class="Col1SubTotal"><p><strong>Subtotal</strong></p></td>
      <td class="Col2SubTotal"><h5>33</h5></td>
    </tr>
    <tr class="BreakRow"/>
	<tr>
      <td class="Col1Header"><h4>C. Style and Mechanics</h4></td>
      <td class="Col2Header"><p>Possible Points</p></td>
    </tr>
    <tr class="OddRow">
      <td class="Col1"><p>1. Student writes in complete sentences (avoids run-ons and fragments)</p></td>
      <td class="Col2"><p>6</p></td>
    </tr>
	<tr class="EvenRow">
      <td class="Col1"><p>2. Student’s use of punctuation is correct and appropriate</p></td>
      <td class="Col2"><p>5</p></td>
    </tr>
	<tr class="OddRow">
      <td class="Col1"><p>3. Student correctly capitalizes words  </p></td>
      <td class="Col2"><p>2</p></td>
    </tr>
	<tr class="EvenRow">
      <td class="Col1"><p>4. Student’s word choice is accurate</p></td>
      <td class="Col2"><p>3</p></td>
    </tr>
	<tr class="OddRow">
      <td class="Col1"><p>5. Student writes in the third person (does not use “I” or “You”)</p></td>
      <td class="Col2"><p>1</p></td>
    </tr>
	<tr class="EvenRow">
      <td class="Col1"><p>6. Student uses transition words between supporting paragraphs</p></td>
      <td class="Col2"><p>2</p></td>
    </tr>
	<tr class="OddRow">
      <td class="Col1"><p>7. Student maintains a consistent tense (the present tense) throughout the work</p></td>
      <td class="Col2"><p>2</p></td>
    </tr>
    <tr class="SubtotalRow">
      <td class="Col1SubTotal"><p><strong>Subtotal</strong></p></td>
      <td class="Col2SubTotal"><h5>21</h5></td>
    </tr>
    <tr class="BreakRow"/>
  <tr class="TotalRow">
    <td class="Col1Total"><p><strong>Total Possible Points</strong></p></td>
    <td class="Col2Grade"><h5>60</h5></td>
  </tr>

</table>