<div class="FullColSection">
	<div id="FullColLeft">
		<h1>Common Mistakes to Avoid</h1>
	</div>
	<div id="FullColRight">
		<p><%= link_to 'Return to Resource Center', student_resource_center_path %></p>
	</div>
</div>
<div class="FullColResource">
	<h4>1.	Bad titles</h4>
	<ul>
		<li><p>All book titles should be underlined (this also goes for movies and magazines).</p></li>
		<li><p>The first word of any title should always be capitalized.  All other words should also be capitalized unless they are articles (a, an, the) or prepositions under three letters long.</p></li>
		<ul>
			<li><p>Bad: A Tree Grows In Brooklyn by Betty Smith</p></li>
			<li><p>Good: A Tree Grows in Brooklyn by Betty Smith</p></li>
		</ul>
	</ul>
	

	<ul>
		<li><p>Titles for your book reviews and essays should be appropriate and tell your readers a little about what they’ll be reading.  Don’t underline these titles.</p></li>
	
		<ul>
			<li><p>Bad: My Essay About Stanley Yelnats</p></li>
			<li><p>Good: Stanley Yelnats Grows Up</p></li>
		</ul>
	</ul>
	<h4>2.	Inconsistent verb tenses</h4>
	<ul>
		<li><p>When writing about books in an academic essay, you want to make sure you stay in the present tense.  This may seem awkward or difficult to do at first, but staying in the present tense will come naturally to you with practice.</p></li>
		<ul>
			<li><p>Bad: Miss Honey is a young and kind teacher.  She was the only person who recognized Matilda’s genius.</p></li>
			<li><p>Good:  Miss Honey is a young and kind teacher.  She is the only person who recognizes Matilda’s genius.</p></li>
		</ul>
	</ul>
	<h4>3.	Subject-verb agreement</h4>
	<ul>
		<li><p>Your subjects and verbs must match!  This can be tricky.  The first step is to determine if your subject is singular or plural.  Then, conjugate the verb appropriately.  Online exercises are a good way to practice.</p></li>
		<ul>
			<li><p>Bad: The choice he had to make between his girlfriend and parents were not easy.</p></li>
			<li><p>Good:  The choice he had to make between his girlfriend and parents was not easy.</p></li>
		</ul>
	</ul>
	<h4>4.	When NOT to use commas</h4>
	<ul>
		<li><p>Do not a use comma before a conjunction (and, but, so, yet…) unless it connects two independent clauses.  An independent clause has a subject and a verb and can stand alone as a sentence.</p></li>
		<ul>
			<li><p>Bad: Nicole is originally from Honduras, and speaks Spanish and English.  (There is no subject after the conjunction.  Get rid of the comma.)</p></li>
			<li><p>Good:  Elsa’s family is from Honduras, but she was born in California.</p></li>
		</ul>
	</ul>
	<h4>5.	When TO use commas</h4>
	<ul>
		<li><p>Comma rules can be confusing.  Problems occur when students overuse commas in their writing.  A Brief, No-Nonsense Guide to Comma Usage is a useful website where you can learn more about comma rules.</p></li>
	</ul>
	<h4>6.	Repetition</h4>
	<ul>
		<li><p>When you want to emphasize an idea or thought, repetition can be a powerful tool, especially in poetry and speeches.  However, more often than not, repetition is unintentional and weakens a person’s writing.  Using the same words or sentence structure will make your writing boring.</p></li>
		<ul>
			<li><p>Bad: Charlie is the main character of the story.  He is in seventh grade.  He loves to play baseball.  He is small for his age.  He loves to catch lizards in his backyard.</p></li>
			<li><p>Good:  Charlie is the main character of the story.  He is small for a seventh grader.  He loves to play baseball and enjoys catching lizards in his backyard.</p></li>
		</ul>
	</ul>
	<h4>7.	Awkward word choice or sentence structure</h4>
	<ul>
		<li><p>The #1 most important quality of good essay writing is clarity!  A sentence that is three lines long and filled with difficult vocabulary is useless if it is awkward and unclear. This doesn’t mean that you shouldn’t experiment with different words or sentence structures, but sometimes stating things simply or using words that you know makes for good, clear writing. If you’re unsure about your writing, ask a friend or teacher to read your work.  If he or she has trouble understanding you, then your writing is awkward.  Revise!</p></li>
		<li><p>Between words or phrases in a list (three words or more)</p></li>
		<ul>
			<li><p>Example: He ran to the fence, hopped over it, and disappeared into the forest.)</p></li>
		</ul>

		<li><p>After introductory words or phrase or clauses (three words or more)</p></li>
		<ul>
			<li><p>Example: When I was a child in Peru,…</p></li>
			<li><p>Example: Although he wanted to spend his entire week’s allowance on the video game,...</p></li>
			<li><p>Example: Suddenly, a gust of wind blew the paper out of her hand.</p></li>
			<li><p>Example: For Melissa, the book was much too complicated for her to read.</p><li>
		</ul>

		<li><p>Before and after a parenthetical phrase.  A parenthetical phrase adds information to the sentence but is not essential to its meaning.</p></li>
		<ul>
			<li><p>Example: Jonathan, a tall teenager with a comical face, </p></li>
		</ul>
		
	</ul>
</div>