<div class="FullColSection">
	<div id="FullColLeft">
		<h1>How You Will Be Graded</h1>
	</div>
	<div id="FullColRight">
		<p><%= link_to 'Return to Resource Center', student_resource_center_path %></p>
	</div>
</div>
<div class="FullColResource">
<%= render :partial => ('resource_center/resources/how_you_will_be_graded_level_1_2')%>
</div>
<div><%= image_tag 'returntotop_button.gif', { :class=>"top_link linkcolor"} %></div>