<% title "Forgot Password" %>
<% form_tag do -%>
  <h3>Forgot your password?</h3>
  <p>Enter your account e-mail below, and we'll send you a link to reset your password.</p>
  <p class="label">E-mail Address:</p>
  <%= text_field_tag 'email' ,{}, :class=>'inputfield'%>
  <div class="ButtonLeft">
    <%= image_submit_tag 'sendmethelink_button.gif' %>
  </div>
<% end %>
